/* ANIMATIONS */
/* ID Selector */
#ship img {
  position: fixed;
  transform: translate(-30px, 300px);
  height: 0px;
  animation: blast-off 1s cubic-bezier(1, 0.06, 1, 0.9) forwards;
}

@keyframes blast-off {
  0% {
    height: 0px;
    transform: translate(-350px, 400px);
  }
  95% {
    height: 600px;
    opacity: 0.8;
  }
  100% {
    height: 600px;
    transform: translate(800px, -1300px);
    opacity: 0;
    height: 0.1px;
  }
}

/* Class Selector */
.hypno-toad__container {
  height: 0.1px;
}

/* Combo Selector */
.hypno-toad__container img {
  position: fixed;
}

.hypno-toad__container .hypno-toad-1 {
  position: fixed;
  transform: translate(-180px, -470px);
  animation: toad 1s ease-in-out forwards;
  animation-iteration-count: 3;
}

.hypno-toad-1 img {
  position: fixed;
  height: 50px;
  transform: translate(10px, -50px);
  animation: toad 1s ease-in-out forwards;
  animation-iteration-count: 3;
}

.hypno-toad__container .hypno-toad-2 {
  position: fixed;
  font-size: 2rem;
  transform: translate(50px, -200px);
  animation: toad 500ms ease-in-out 1000ms forwards;
  animation-iteration-count: 2;
}

.hypno-toad-2 img {
  position: fixed;
  transform: translate(10px, -200px);
  height: 200px;
  animation: toad 500ms ease-in-out 1000ms forwards;
  animation-iteration-count: 2;
}

.hypno-toad__container .hypno-toad-3 {
  position: fixed;
  font-size: 2rem;
  transform: translate(-100px, -10px);
  animation: toad 1500ms ease-in-out 100ms forwards;
  animation-iteration-count: 3;
}

.hypno-toad-3 img {
  position: fixed;
  height: 100px;
  transform: translate(-160px, -100px);
  animation: toad 1500ms ease-in-out 100ms forwards;
  animation-iteration-count: 3;
}

@keyframes toad {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 376) {
  .hypno-toad__container .hypno-toad-1 {
    transform: translate(-105px, -500px);
  }
}

@media (min-width: 767) {
  .hypno-toad__container .hypno-toad-1 {
    transform: translate(-405px, -900px);
  }
}

@media (min-width: 389px) and (min-height: 843px) {
  .hypno-toad__container .hypno-toad-3 {
    transform: translate(-150px, 150px);
  }
}
