@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --bg-red: #dc3545;
  --color-blue: #1e818f;
  --color-green: #007f73;
  --nav-bg-color: #4ccd99;
  --color-yellow: #ffc700;
  --color-yellow-subtle: #faf6b8;
  --color-grey: #555555;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
  margin: 0px;
  min-width: 290px;
  background-color: var(--bg-red);
  font-family: 'Architects Daughter', cursive;
  font-optical-sizing: auto;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.title__text {
  font-size: 1.5rem;
}

.title__border-bottom {
  height: 1px;
  width: 25%;
  border-bottom: 1px solid white;
}

.header__img {
  width: 100%;
}

.header__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  height: 100%;
}

/* .footer__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
} */

@media (min-width: 576px) {
  .title__text {
    font-size: 2.6rem;
  }
  
}

@media (min-width: 992px) {
  body {
    align-items: center;
  }
  .main-content {
    width: 992px;
  }
    .title__text {
    font-size: 3.5em;
  }
}
