.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-blue);
}

.logo-img__container {
  width: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

em {
  margin-bottom: 15px;
  font-size: 0.8rem;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #212121;
}

.about-img__container {
  max-width: 30%;
  max-height: 350px;
}

.about-img__container img {
  max-height: 350px;
  width: 100%;
  object-fit: contain;
}

.about p {
  padding: 0px 1rem;
  font-size: 0.8rem;
}

.order {
  display: flex;
  width: 100%;
  background-color: #ffc700;
}

.order__cta {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.order__cta a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.6rem;
  padding-left: 10px;
  transform: rotateZ(-30deg);
  height: 80%;
  text-decoration: underline;
}

a span {
  align-self: center;
}

.order__cta__img__container {
  max-width: 60%;
  margin-left: auto;
}

.order__cta__img__container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.social {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.social i {
  font-size: 20px;
  margin: 0px 10px;
}

/* Psuedo-class Selector */
.social i:hover {
  color: var(--color-blue);
}

@media (min-width: 576px) {
  .logo-img__container {
    max-height: 500px;
  }

  .logo-img__container img {
    max-height: 500px;
  }

  em {
    font-size: 1.2rem;
  }
  .about {
    justify-content: center;
  }
}
