.order-complete__img {
  width: 100%;
}

.order-complete__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order__container {
  padding: 40px;
}

.order__number {
  text-align: center;
}

.problem__container {
  display: flex;
  flex-direction: column;
  font-family: 'Architects Daughter', cursive;
  font-size: 0.8rem;
  align-self: center;
  text-decoration: underline;
  padding: 5px;
}
